<div class="card post-card">
  {{#link-to "post.show" post.id}}
    <div class="card-image">
      <img src={{post.heroImage}} alt={{post.title}}>
      <div class="post-title">
        <h3>{{post.title}}</h3>
      </div>
    </div>
  {{/link-to}}
  <div class="card-block">
    <h5 class="date">
      {{post.date}}
    </h5>
    <p>{{post.content}}</p>
  </div>
</div>
