<div class="row product-header">
  <div class="col-sm-6 product-name">
    <h3>
      {{product.name}}
    </h3>
  </div>
  <div class="col-sm-6 model-number">
    <h3 class="pull-sm-right">
      model {{product.modelNumber}}
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 product-images">
    {{#if showSlideshow}}
      {{hm-slideshow slideshowId=product.id images=product.images}}
    {{else}}
      <div class="single-image">
        <img src={{firstImageUrl}} alt="product" />
      </div>
    {{/if}}
  </div>

  <div class="col-md-6">
    <div id="product-nav">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#description" role="tab">
            Description
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#specs" role="tab">
            Specs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#manual" role="tab">
            Manual
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#firmware" role="tab">
            Firmware
          </a>
        </li>
      </ul>
    </div>

    <div id="product-details" class="tab-content">
      <div class="tab-pane fade in active" id="description" role="tabpanel">
        <p>
          {{{expandLinebreaks product.description}}}
        </p>
      </div>
      <div class="tab-pane fade" id="specs" role="tabpanel">
        <p>
          {{{product.features}}}
        </p>
      </div>

      <div class="tab-pane fade" id="manual" role="tabpanel">
        {{#if product.manuals.length}}
          <ul>
            {{#each product.manuals as |manual|}}
              <li>
                <a href={{manual.manual.url}}>
                  {{file-name manual 'manual'}}
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>
            No manuals available for this product.
          </p>
        {{/if}}
      </div>

      <div class="tab-pane fade" id="firmware" role="tabpanel">
        {{#if product.firmwares.length}}
          <ul>
            {{#each product.firmwares as |firmware|}}
              <li>
                <a href={{firmware.firmware.url}}>
                  {{file-name firmware 'firmware'}}
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>
            No firmware available for this product.
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
